.resume-tab-bar {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  width: 400px;
  margin-left: -110px;
}

.resume-tab2 {
  padding: 8px 16px;
  border: none;
  background-color: #eee;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.resume-tab-active2 {
  background-color: #1e90ff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resume-pdf-upload-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.resume-input-button-row {
  display: flex;
  gap: 8px;
  align-items: center;
}

.resume-pdf-input {
  width: 400px;
  padding: 8px;
  border: 1px solid #999;
  border-radius: 4px;
}

.resume-pdf-upload-button {
  background-color: black;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
