/* src/global.css */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

body {
  font-family: 'Pretendard Variable', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  overflow-y: auto;
}

.slick-list {
  padding-left: 12px !important;
  padding-right: 4px;
}
